.item {
  margin-top: 40px;
}
.item__title {
  text-align: center;
}
.item__main__title {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px 0;
}
.item__left__right {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  height: 300px;
  object-fit: contain;
  margin-top: 20px;
  padding: 40px;
  box-shadow: 0 0 5px black;
}
.item__right {
  max-width: 300px;
}
.item__right > h1 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.item__right > p {
  padding: 0 20px 40px;
  text-align: center;
  color: grey;
}

.item__price,
.item__size,
.item__colour {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__colour select,
.item__size select {
  width: 100px;
  height: 30px;
}

.item__button {
  margin-top: 40px;
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 10px 0;
  width: 100%;
}

@media (min-width: 600px) {
  .item__left__right {
    flex-direction: row;
    justify-content: center;
  }
  .image {
    margin-right: 100px;
  }
}

@media (min-width: 900px) {
  .image {
    margin-right: 200px;
  }
  .item__right > h1 {
    font-size: 30px;
  }

  .item__right {
    max-width: 400px;
  }
}
