.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.product__info > p {
  text-align: center;
}
.checkoutProduct__image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}
small {
  font-weight: bold;
}
.product__buttons__wrapper {
  display: flex;
  flex-direction: column;
}
.product__buttons__wrapper > button,
.product__buttons__wrapper > a {
  background-color: black;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 4px;
  border: 2px solid black;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
}
.product__buttons__wrapper > button:hover,
.product__buttons__wrapper > a:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}
.product__buttons__wrapper > button:nth-child(1) {
  margin-right: 20px;
}

@media (min-width: 600px) {
  .product {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .product__buttons__wrapper {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1300px) {
  .product {
    width: 33%;
  }
}

@media (min-width: 1400px) {
  .product {
    width: 25%;
  }
}
