.header {
  z-index: 100;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}
.nav__menu {
  display: none;
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1px solid black;
}
.h1 {
  display: flex;
  align-items: center;
}

.header__optionBasket {
  display: flex;
  align-items: center;
}

.header__basketCounter {
  margin: 0 10px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
.header span {
  font-size: 20px;
  font-weight: 700;
  color: red;
}
.header__title {
  border: 2px solid red;
  color: red;
  margin-left: 20px;
  transform: rotate(-4deg);
  padding: 4px;
  border-right: none;
  margin: 6px 0 6px 6px;
}
.header__title2 {
  border: 2px solid black;
  color: black;
  transform: rotate(-4deg);
  padding: 4px;
  border-left: none;
  margin: 0;
}

.header__nav__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header__nav__wrapper li {
  list-style: none;
  margin: 20px 20px;
}

.header__nav__wrapper li a {
  font-size: 20px;
}

.header .active {
  color: red;
}

.headersss {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  background-color: white;
}
.menu-bars {
  position: fixed;
  z-index: 10;
}
@media (min-width: 600px) {
  .menu-bars {
    display: none;
  }
  .nav__menu {
    display: block;
  }
}
