.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f3f3f3;
  box-shadow: 0 0 3px black;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal p {
  font-size: 18px;
}

.subtotal p > strong {
  margin-left: 4px;
}
.subtotal > button {
  background: orange;
  border-radius: 2px;
  font-size: 15px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734;
  color: red;
  cursor: pointer;
}

.subtotal > button:hover {
  color: black;
  border-color: black;
}

@media (max-width: 500px) {
  .subtotal {
    width: 300px;
    align-items: center;
  }
  .subtotal p {
    font-size: 15px;
  }
  .subtotal > button {
    font-size: 13px;
    margin-top: 30px;
  }
}
