.header {
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  background-color: rgb(216, 211, 211);
}
.header__info {
  display: flex;
  justify-content: space-around;
}

.header__info > p,
a {
  font-size: 12px;
  margin-top: 0px;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-bottom: 1px solid black;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  cursor: pointer;
  margin-right: 25px;
}

.header__optionBasket {
  display: flex;
  align-items: center;
}

.header__basketCounter {
  margin: 0 10px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
.header__title {
  margin: 0 200px 0 20px;
  border: 2px solid black;
  padding: 0 10px;
  margin-right: 300px;
}

.header__nav__wrapper {
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;
}
