.header {
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}
.header__info {
  display: flex;
  justify-content: space-around;
}

.header__info > p,
a {
  font-size: 12px;
  margin-top: 0px;
}

.header__nav {
  display: flex;

  align-items: center;
  margin-bottom: 1px solid black;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  cursor: pointer;
  margin-right: 25px;
}

.header__optionBasket {
  display: flex;
  align-items: center;
}

.header__basketCounter {
  margin: 0 10px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
.header span {
  font-size: 20px;
  font-weight: 700;
}
.header__title {
  border: 2px solid red;
  color: red;
  margin-left: 20px;
  transform: rotate(-4deg);
  padding: 4px;
  border-right: none;
  margin: 6px 0 6px 6px;
}
.header__title2 {
  border: 2px solid black;
  color: black;
  transform: rotate(-4deg);
  padding: 4px;
  border-left: none;
  margin: 0;
}

.header__nav__wrapper {
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: white;
  border-radius: 2px;
  overflow: hidden;

  padding: 1rem;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-top: solid 1px black;

  justify-content: space-around;
  padding: 0.5rem;
}
.menu-item:hover {
  background-color: #525357;
}
