.header {
  height: 60px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: rgb(221, 202, 202);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid black;
}

.header__title {
  margin-right: 25px;
  color: black;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border: 0.5px solid black;
}

.header__searchIcon {
  border: 0.5px solid black;
  padding: 5px;
  height: 22px !important;
  background-color: black;
  color: white;
}

.header__nav {
  display: flex;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  cursor: pointer;
  margin-right: 25px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 700;
}
.header__optionBasket {
  display: flex;
  align-items: center;
}

.header__basketCounter {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: black;
}
