.home {
  margin: 0 auto;
  max-width: 1600px;
}

.home__image {
  width: 100%;
  z-index: -1;
  height: 700px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .home__image {
    height: 500px;
  }
}
